__pycache__/
dummy_data/
embeddings/
data/
energy_embeddings/
full_embeddings/
pyannote_avg_embeddings/
pyannote_embeddings/
wavs/
test.ipynb
RecordingDetails_Cleaned.csv
ecapa_tdnn.model
token.txt
*_embeddings/
hf_token.py